@model WebApplication7.Models.EmployeeVM

@{
    ViewBag.Title = "Edit Employee";
}

<h2>Edit Employee</h2>

<br />

<a asp-controller="Employee" asp-action="Index" class="btn btn-primary"> Back to list</a>

<br />


<form asp-controller="Employee" asp-action="Edit" method="post" class="form-group">

    <label asp-for="Name">Employee Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span class="text-danger" asp-validation-for="Name"></span>
    <br /><br />

    <label asp-for="Salary">Employee Salary</label>
    <input type="text" asp-for="Salary" class="form-control" />
    <span class="text-danger" asp-validation-for="Salary"></span>
    <br /><br />

    <label asp-for="Address">Employee Address</label>
    <input type="text" asp-for="Address" class="form-control" />
    <span class="text-danger" asp-validation-for="Address"></span>
    <br /><br />

    <label asp-for="Email">Employee Email</label>
    <input type="email" asp-for="Email" class="form-control" />
    <span class="text-danger" asp-validation-for="Email"></span>
    <br /><br />


    <label asp-for="HireDate">Hire Date</label>
    <input type="date" asp-for="HireDate" class="form-control" />
    <span class="text-danger" asp-validation-for="HireDate"></span>
    <br /><br />


    <label asp-for="Notes">Notes</label>
    <textarea asp-for="Notes" class="form-control" rows="4"></textarea>
    <span class="text-danger" asp-validation-for="Notes"></span>
    <br /><br />


    <label asp-for="DepartmentId">Department</label>
    <select asp-for="DepartmentId" class="form-control" asp-items="@(new SelectList(ViewBag.Deptdata,"Id","DepartmentName",Model.DepartmentId))">
        <option>Choose Department</option>
    </select>
    <span class="text-danger" asp-validation-for="DepartmentId"></span>
    <br /><br />

    <div class="custom-control custom-checkbox">
        <input type="checkbox" asp-for="IsActive" class="custom-control-input">
        <label class="custom-control-label" asp-for="IsActive"> Is Active</label>
    </div>
    <span class="text-danger" asp-validation-for="IsActive"></span>

      
    <br /><br />

    <img src="~/Files/photes/@Model.PhotoName" width="70" height="70" />
    <br />
    <label class="custom-control-label" asp-for="PhotoName"> Edit Photo</label>
    <input type="file" asp-for="PhotoName" class="custom-control-input">

    <br /><br />
    <a href="~/Files/docs/@Model.CvName">Download CV</a>
    <br /><br />
    <label class="custom-control-label" asp-for="CvName"> Edit CV</label>
    <input type="file" asp-for="CvName" class="custom-control-input">


    <br />
    <center>
        <input type="submit" value="Edit" class="btn btn-primary" />
    </center>

</form>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
